body{
    overflow: hidden;
}
.app-aside {
    overflow-y: visible;
}
.app-header-fixed {
    /*margin-top: 50px;*/
    padding-top: 0;
}
.map-control{
    position: relative;
}
.map-control .map{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
}
.app-content-body {
    float: left;
    width: 100%;
    padding-bottom:0;
}
.map-logo-false{
    height: 50px;
    width: 100px;
    max-height: 50px!important;
    padding: 0px;
}
.map-logo-true{
    height: 30px;
    width: 60px;
    max-height: 30px!important;
    padding: 0px;
}
.nav-logo > a, .nav-logo > a{
    padding: 0px;
    margin: 0px;
}
 ul.nav > li > a.auto {
    padding: 10px;
}
ul.nav > li > ul.nav > li > a.auto {
    margin-left: 0px;
}
@media (min-width: 768px) {
    .app-aside,
    .navbar-header {
    width: 325px;
    }
    .navbar-collapse,
    .app-content,
    .app-footer {
    margin-left: 325px;
    
    }
}
.input-group{
    width: 200px;
}
.app-content{
    width: calc(100% - 325px);
}

@media (min-width: 768px) {
    .app-aside-folded .navi > ul > li > ul {
        position: absolute;
        top: 0 !important;
        left: 100%;
        z-index: 1050;
        width: 200px;
        height: auto !important;
        -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        display: none;
    }
    .active > .nav-sub,
    .app-aside-folded li:hover > .nav-sub,
    .app-aside-folded li:focus > .nav-sub,
    .app-aside-folded li:active > .nav-sub {
        height: auto !important;
        margin-left: 0;
        overflow: visible!important;
        opacity: 1;
        display: block;
    }

    .app-aside-folded .active > .nav-sub > li:hover > .nav-sub,
    .app-aside-folded .app-aside-folded ul>li:hover >ul > li:hover > .nav-sub,
    .app-aside-folded .app-aside-folded ul>li:focus >ul > li:focus > .nav-sub,
    .app-aside-folded .app-aside-folded ul>li:active >ul > li:active > .nav-sub {
        height: auto !important;
        margin-left: 0;
        /*overflow: auto;*/
        display: block;
        opacity: 1;
    }
    .app-aside-folded .navi > ul > li > ul > li > ul{
        position: absolute;
        top: 0 !important;
        display: none;
        left: 100%;
        z-index: 105;
        width: 200px;
        /*height: 0 !important;*/
        -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    }
    .app-aside-folded .navi ul.nav li li:hover > ul {
        display: block;
    }
/*
折叠时，地图元素宽度变化
*/
    

    /*.app-aside-folded .second-tree {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: 1000;
    }*/



    .app-aside-folded .app-result-show .app-aside,
    .app-aside-folded .navbar-header {
        width: 60px;
    }
    
    /*   地图部分 */
    .app-aside-folded .app-content{
        width: calc(100% - 60px);
    }
    .app-result-show .app-content{
        width: calc(100% - 420px);
        margin-left: 420px;
    }
    .app-result-show .app-content{
        width: calc(100% - 420px);
        margin-left: 420px;
    }
    .app-result-show .app-resultItem-show .app-content{
        width: calc(100% - 480px);
        margin-left: 480px;
    }


    .app-resultItem-show .dataResultItem{

    }
    .dataResultItem{
        float: left;
        padding-left: 120px;
        position: absolute;
        top: 50px;
        /*height: calc(100% - 50px);*/
        
        bottom: 0;
        z-index: 1001;
    }


    .dataResultItem_fullExtent{
        float: left;
        width: 100%;
        padding-left: 105px;
        position: absolute;
        top: 50px;
        /*right: 0;*/
        bottom: 0;
        z-index: 1050;
    }


}



.app-result-show .app-aside{
        width: 200px;
}

.second-tree{
    float: left;
    position: absolute;
    bottom: 0;
    z-index: 1000;
}
.second-tree-content{
    width: 360px;
    margin-left: 60px;

}







.height-100{
    height: 100%;

}
.height-100-50{
    height: calc(100% - 50px);
    top: 50px;
    position: absolute;
}
.draw-tool{
    color: #000000!important;
}
.draw-tool > :first-child{
    margin: 15px;
}
.draw-tool > li > div{
    width: 250px;
    margin: 5px;
}
.draw-tool > li > div > div{
    margin: 10px;
}
.draw-tool > li >  div >a >span,
.draw-tool > li >  div >a >span >a >span{
    width: 25px;
    height: 25px
}

.esri-basemap-gallery{
    width: 260px;
    color: #000000!important;
}
.esri-basemap-gallery > :first-child{
    margin: 15px;
}
.esri-basemap-gallery > li{

    max-height: 206px;overflow: auto;
}
.measurement_dijit .esriMeasurement .dijitButtonNode,
.measurement_dijit .esriMeasurement .esriButtonHover .dijitButtonNode,
.measurement_dijit .esriMeasurement .esriButtonChecked .dijitButtonNode{
    height: 32px;
}
.measurement_dijit .esriMeasurementButtonContainer{
    margin-left: 20px;
}

.locationForm{
    margin: 10px;
}
.locationForm div{
    margin: 5px 0 5px 5px;
}
.locationForm div input{
    height: 32px;
}
.locationForm div a{
    margin-bottom: 5px;
    margin-left: 5px;
}

.dijitMenuPopup{
    z-index: 9001!important;
}
.dijitMenuPopup table.dijitMenuTable{
    border-radius: 10px;
    border-radius: 2px;
    /*background: #90ccf5;*/

}
.dijitMenuPopup .esriMeasurementTableContainer{
    padding: 5px;
}
.polyline_{
    margin: 4px;
    background-image: url(../img/mapappbiuder/polyline.png);
    background-size: 25px;
}
.polygon_{
    margin: 4px;
    background-image: url(../img/mapappbiuder/polygon.png);
    background-size: 25px;
}
.freehand_polygon_{
    margin: 4px;
    background-image: url(../img/mapappbiuder/freehand_polygon.png);
    background-size: 25px;
}
.circle_{
    margin: 4px;
    background-image: url(../img/mapappbiuder/circle.png);
    background-size: 25px;
}
.rectangle_{
    margin: 4px;
    background-image: url(../img/mapappbiuder/extent.png);
    background-size: 25px;
}
.ellipse_{
    margin: 4px;
    background-image: url(../img/mapappbiuder/ellipse.png);
    background-size: 25px;
}
.arrow_{
    margin: 4px;
    background-image: url(../img/mapappbiuder/up1.png);
    background-repeat: no-repeat;
    background-size: 20px;
}
.graghics_clear_{
    margin: 4px;
    background-image: url(../img/mapappbiuder/editor_delete.png);
    background-size: 25px;
}

.polyline_:hover,
.polygon_:hover,
.freehand_polygon_:hover,
.circle_:hover,
.rectangle_:hover,
.ellipse_:hover,
.arrow_:hover,
.graghics_clear_:hover{
    opacity: 0.7;

}
.esriBasemapGallerySelectedNode .esriBasemapGalleryThumbnail {
    border: 2px solid #F99;
    margin: 1px!important;
}


.padder{
    padding: 0 5px;
}
/*.tableCellContainer{
    display: table-cell;
    vertical-align: middle;
}*/
.lfloat{
    float: left;
}
.clearfix{zoom:1}
.clearfix:after{
     content:"";        
     display:block;        
     height:0;        
     clear:both; 
     overflow: hidden;       
     visibility:hidden;        
}
.result-content{

}
.result-content .result-view-content{
    border-top: solid 1px #ccc;
    /*border-bottom: solid 1px #ccc;*/
    /*margin:5px 0px;*/
    padding: 5px;
    border-radius: 2px;
}

.result-view-Thumb{
    float: left;
    width: 120px;
    height: 100px;
    margin: 5px 0 5px 3px;
}
.result-view-Thumb .result-view-img{
    display: inline-block;
    width: 120px;
    height: 100px;
}
.result-view-title {
    float: left;
    width: 196px;
    margin-left: 3px;

}
.result-view-title hr {
    margin:5px;
}
.result-view-title .title {
    margin:5px;
}
.result-view-title .info .details {
    height:44px;
    display: table-cell;
    vertical-align: middle;
}
.result-view-title .info .details a{
    
}
.result-view-title .info .details span{
    display: block;
    /*white-space:nowrap; */
    word-wrap: break-word;
    width:196px; 
    overflow:hidden; 
    text-overflow:ellipsis;
    line-height: 1.5em;
    height: 3em;
    display: -webkit-box;  
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical; 
}

.controls{
    position: absolute;
}
.controls div a{
    display: inline-block;
    width: 50px;
    text-align: center;
    color:#ccc; 
}
.controls .state-control .btn{
    padding: 0;
}
.controls .state-control .btn i{
    margin: 0;
}
.btn-addon.btn-sm i{}
.result-content .data-details-table{
    /*width: 196px;*/
    margin: 120px 0px 5px;
    clear: both;
    word-wrap: break-word;
    /*border-top: solid 1px #ccc;*/
    /*border-bottom: solid 1px #ccc;*/
    *zoom:1;
    /*display: none;*/
}
.legend-content{
    position: absolute;
    z-index: 1002;
    width: 200px;
    max-height: 100%;
    right: 0;
    left: auto;
    padding: 5px;
    top:50px;
    border: solid 1px #eee;
    background-color: rgb(237, 241, 242);
    
    border-radius:1px;
    box-shadow: 0 0 1px #eee;
}
.legend-content hr{
    margin:5px 0 2px;
    border-top: solid 1px #ccc;
}
.legend-content .legend-title .explored{
    float: right;
    padding: 0;
}
.legend-content .legend-item-content{
    width: 100%;
    margin-top:5px;
    overflow: scroll;
    max-height: 300px;
    overflow: auto;
}








.settings {
  z-index: 1001;
}

