<div class="height-100 pos-fix no-padder w-auto-xs bg-white b-l" ng-class="{'width-100':!expand, 'dataResultItemExpand':expand}">
	<div class="vbox height-100">
    <div class="wrapper b-b b-t b-light m-b text-center clearfix">
      <a ng-href class="pull-left text-muted text-md" ui-toggle-class="hide" target=".app-aside-right" ng-click="resultItemShowStateChange()"><i class="fa fa-chevron-left"></i>返回</a>
      <span class="title">{{title}}</span>
      <a ng-href class="pull-right text-muted text-md" ng-click="fullExtent()"><i class="fa" ng-class="{'fa-expand':!expand, 
      'fa-compress':expand}"></i></a>
    </div>
    <div class="row-row height-100">
      <div class="cell height-100">
        <div class="cell-inner padder height-100">
          <div class='result-content height-100'>
            <div >

            </div>
            <tabset class="tab-container height-100">
              <tab heading="关于">
                <div class="panel-body collapse in">
                  <div class="clearfix">
                    
                    <div class="result-view-Thumb">
                      <a class="result-view-img" href="" style="background-image: url({{dataInfo.image}})"></a>
                    </div>

                    <div class="result-view-title">
                      <div class="info">
                        <h4 ng-bind="dataInfo.name">
                        </h4>
                        <hr/>
                      </div>
                      <div class="controls clearfix">
                        <div class="state-control lfloat">  
                          <button class="btn m-b-xs btn-sm btn-addon" ng-class="{'btn-info':!thisSelected, 'btn-danger':thisSelected}"  ng-click="addData(dataInfo.dataSetId)" tooltip="{{thisSelected?'移除':'添加'}}">
                            <i class="fa" ng-class="{'fa-plus':!thisSelected, 'fa-minus':thisSelected}"></i>
                          </button>
                        </div>
                        <div class="item-nenu lfloat"></div>
                        <div class="context lfloat">
                          <a href="javascript:" title="浏览量" tooltip-placement="bottom" tooltip="浏览量">
                            <i class="fa fa-signal"></i>
                            <div ng-bind="dataInfo.viewTimes"></div>
                          </a>
                        </div>
                        <div class="star lfloat"></div>
                        <div class="down-num lfloat">
                          <a href="javascript:" tooltip="下载量" tooltip-placement="bottom">
                            <i class="fa fa-cloud-download"></i>
                            <div ng-bind="dataInfo.downloadTimes"></div>
                          </a>
                        </div>
                        <div class="time lfloat">
                          <a href="javascript:" tooltip="最后更新时间" tooltip-placement="left">
                            <i class="glyphicon glyphicon-time"></i>
                            <div ng-bind="dataInfo.updateTime"></div>
                          </a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <article class="media">
                    <div class="media-body">                        
                      <a href="" class="h4">数据详细描述</a>
                      <small class="block m-t-xs" ng-bind="dataInfo.description"></small>
                      <em class="text-xs">数据创建于 <span class="text-info" ng-bind="dataInfo.date"></span></em>
                    </div>
                  </article>
                  <hr/>
                  

                  <div class="panel-list">
                    <span class="panel-lable">所在站点：</span>
                    <span class="panel-value" ng-bind="dataInfo.stationId"></span>
                  </div>
                  <div class="panel-list">
                    <span class="panel-lable">单位：</span>
                    <span class="panel-value" ng-bind="dataInfo.author"></span>
                  </div>
                  <div class="panel-list">
                    <span class="panel-lable">数据创建时间：</span>
                    <span class="panel-value" ng-bind="dataInfo.date"></span>
                  </div>
                  <div class="panel-list">
                    <span class="panel-lable">观测仪器：</span>
                    <span class="panel-value" ng-bind="dataInfo.monitor"></span>
                  </div>


                  <div class="panel-list">
                    <span class="panel-lable">数据浏览量：</span>
                    <span class="panel-value" ng-bind="dataInfo.viewTimes"></span>
                  </div>
                  <div class="panel-list">
                    <span class="panel-lable">数据下载量：</span>
                    <span class="panel-value" ng-bind="dataInfo.downloadTimes"></span>
                  </div>
                  <div class="panel-list">
                    <span class="panel-lable">最后更新时间：</span>
                    <span class="panel-value" ng-bind="dataInfo.updateTime"></span>
                  </div>
                  <div class="panel-list">
                    <span class="panel-lable">数据调用地址：</span>
                    <span class="panel-value" ng-bind="dataInfo.download-url"></span>
                  </div>


                  <div class="m-t-md text-center panel-option">
                    <a href="" data-toggle="class" class="btn btn-default btn-xs">
                      <i class="fa fa-star-o text-muted text"></i>
                      <i class="fa fa-star text-danger text-active"></i> 
                      下载申请
                    </a>
                    <a href="" class="btn btn-default btn-xs">
                      <i class="fa fa-mail-reply text-muted"></i> 
                      问题反馈
                    </a>
                  </div>
                </div>
              </tab>
              <tab class="height-100" heading="成果图集">
                <image-list-viewer image-set='images'></image-list-viewer>
              </tab>
              <tab class="height-100" heading="属性">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    表头xxxxx
                  </div>
                  <div class="panel-body b-b b-light">
                    搜索: <input id="filter" type="text" class="form-control input-sm w-sm inline m-r"/>
                  </div>
                  <div>
                    <table class="table m-b-none" ui-jq="footable" data-filter="#filter" data-page-size="10">
                      <thead>
                        <tr>
                            <!-- <th data-toggle="true">
                                First Name
                            </th>
                            <th>
                                Last Name
                            </th>
                            <th data-hide="phone,tablet">
                                Job Title
                            </th>
                            <th data-hide="phone,tablet" data-name="Date Of Birth">
                                DOB
                            </th>
                            <th data-hide="phone">
                                Status
                            </th> -->
                            <th ng-repeat="title in titles">{{title}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="data in dataGrid">
                          <td ng-repeat="title in titles">{{data[title]}}</td>
                          <td>
                            <span class="btn btn-sm btn-info" title="定位到" ng-click="locationTo(data)"><i class="icon icon-pointer"></i>定位到</span>
                          </td>
                        </tr>
                      </tbody>
                       <!-- <tfoot class="hide-if-no-paging"> -->
                      <tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <ul class="pagination"></ul>
                            </td>
                        </tr>
                      </tfoot>
                    </table>
                  </div>
                </div>
              </tab>
            </tabset>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>