<div>
	<div class="legend-title clearfix">
		<span>图层</span>
		<a class="btn btn-sm explored" ng-click="explored=!explored;">
			<span>{{explored?"收起":"展开"}}</span><i class="fa" ng-class="{'fa-chevron-down':!explored, 'fa-chevron-up':explored}"></i>
		</a>
	</div>
	<hr/>
	<div class="legend-item-content" ng-show="explored">
		<ul ui-jq="sortable" class="list-group gutter list-group-sm list-group-sp legend-item">
		    
		    <li class="list-group-item" ng-repeat="(key,value) in itemData" draggable="true" >
		      <span class="pull-right">
				  <a href="javascript:void(0)"><i class="fa fa-fw {{value.viewState}} " ng-click="viewEyesClick(value)"  ng-show= "itemType(value)"></i></a>
				  <a href="javascript:void(0)"><i class="fa fa-fw fa-table" ng-hide= "itemType(value)" ></i></a>
				  <a href="javascript:void(0)"><i class="fa fa-fw fa-globe" ng-show= "itemType(value)" ng-click="centerZoom(value)"></i></a>
				  <a href="javascript:void(0)"><i class="fa fa-fw fa-times" ng-click="delItem(key)"  ></i></a>
		      </span>
		      <div class="clear">
		        {{value.name}}
		      </div>
		    </li>

		  </ul>
	</div>
	
</div>