<!-- list -->
<ul id="menuItems" class="nav" ng-controller="navCtrl">
    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
        <span>专项专题</span>
    </li>
    <li ng-repeat="rootNavData in navData" ui-sref-active="{{rootNavData.selected?active:null}}">
        <a class="auto">
            <span class="pull-right text-muted">
                <i class="fa fa-fw fa-angle-right text"></i>
                <i class="fa fa-fw fa-angle-down text-active"></i>
            </span>
            <i class="glyphicon {{rootNavData.icon}} icon text-primary-dker"></i>
            <span class="font-bold" >{{rootNavData.name}}</span>
        </a>
        <ul class="nav nav-sub dk">
            <li class="nav-sub-header">
                <a href ng-click="rootNavData.submenu?emitData(rootNavData):doNothing()">
                    <span>{{rootNavData.name}}</span>
                </a>
            </li>
            <li ng-repeat="navData1 in rootNavData.submenu" ui-sref-active="{{navData1.selected?active:' '}}">
                <a class="auto">
                    <span class="pull-right text-muted">
                        <i class="fa fa-fw fa-angle-right text"></i>
                        <i class="fa fa-fw fa-angle-down text-active"></i>
                    </span>
                    <i class="glyphicon {{navData1.icon}} icon text-primary-dker"></i>
                    <span class="font-bold1" >{{navData1.name}}</span>
                </a>
                <ul class="nav nav-sub lt">
                    <li class="nav-sub-header">
                        <a href ng-click="navData1.submenu?emitData(navData1):doNothing()">
                            <span>{{navData1.name}}</span>
                        </a>
                    </li>
                    <li ng-repeat="subNavData in navData1.submenu" ui-sref-active="{{subNavData.selected?active:' '}}">
                        <a class="click-node" ng-click="subNavData.submenu?emitData(subNavData):doNothing()">
                            <span class="click-node">{{subNavData.name}}</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="line dk"></li>
</ul>

<!-- / list -->